.vscode/
__pycache__
.ipynb_checkpoints
.DS_Store
mnist.npz
horse-or-human
horse-or-human.zip
validation-horse-or-human.zip
validation-horse-or-human
tmp
cats_and_dogs_filtered
cats_and_dogs_filtered.zip